<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main.html">

<div layout:fragment="site_content">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <table class="table table-striped" id="tableid">
                <thead>
                <tr>
                    <th>ID </th>
                    <th>Название </th>
                    <th>Цена </th>
                    <th>Удалить </th>
                    <th>Купить </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="g : ${korzina}">
                    <td th:text="${g.id}"></td>
                    <td></td>
                    <td></td>
                    <td><form th:action="@{'/deletegoodfrombasket'}" method="post"><input type="hidden" name="g_id" th:value="${g.id}"><button class="btn btn-danger">Удалить</button></form></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</html>