<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main.html">

<div layout:fragment="site_content">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${param.success!=null}">
                <span>Success bought!</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.error!=null}">
                <span>You haven't enough balance... Check it!</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.not!=null}">
                <span>Sorry! At the moment we do not have such a product</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table class="table table-striped" id="tableid">
                <thead>
                <tr>

                    <th>Name </th>
                    <th>Price </th>
                    <th>Delete </th>
                    <th>Buy </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="g : ${korzina}">
                    <td th:text="${g.name}"></td>
                    <td th:text="${g.price}"></td>
                    <td>
                        <form th:action="@{'/deletegood'}" method="post">
                            <input type="hidden" name="good_id" th:value="${g.id}">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{'/buygood'}" method="post">
                            <input type="hidden" name="good_id" th:value="${g.id}">
                            <button class="btn btn-primary">Buy </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</html>