<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main.html">

<div layout:fragment="site_content">

    <div class="row mt-3">
        <div class="col sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" th:each="c : ${categories}"><a th:href="@{'/goodsByCategory/' + ${c.id}}" th:text="${c.name}"></a></li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form th:action="@{'/filter'}" method="get">
                    <div class="row">
                        <div class="col-3">
                            <label>Name</label>
                        </div>
                        <div class="col-4">
                            <label>Price</label>
                        </div>
                        <div class="col-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <input type="text" name="name" class="form-control" th:value="${searchName}">
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-5">
                                    <input type="text" name="fromPrice" class="form-control" th:value="${searchPriceFrom}">
                                </div>
                                <div class="col-1">
                                    <label> - </label>
                                </div>
                                <div class="col-5">
                                    <input type="text" name="toPrice" class="form-control" th:value="${searchPriceTo}">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-success btn-block">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="album py-5 bg-light col-sm-12">
        <div class="container">
            <div class="row">
            <div class="card ml-5 mt-3" style="width: 18rem;" th:each="g : ${goods}">
                <img th:src="${g.urlOfPicture}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title" th:text="${g.name}"></h5>
                    <p class="card-text" th:text="${g.price} + 'KZT'"></p>
                    <a th:href="@{'/details/' + ${g.id}}" class="btn btn-primary">More details...</a><br><br>
                </div>
            </div>
            </div>
        </div>
    </div>


    <nav aria-label="Page navigation example">
        <ul class="pagination" th:if="${goodsPage.totalPages>0}">
            <li class="page-item disabled">
                <a class="page-link" href="JavaScript:void(0)" tabindex="-1" aria-disabled="true">Pages</a>
            </li>
            <li class="page-item" th:each="pageNumber : ${numbers}" th:classappend="${pageNumber==goodsPage.number} ? 'active'">
                <a class="page-link" th:href="@{'/?page='+${pageNumber}}" th:text="${pageNumber + 1}"></a></li>
        </ul>
    </nav>


</div>
</html>