<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main.html">

<div layout:fragment="site_content">

    <div class="row mt-3">
        <div class="col sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" th:each="c : ${categories}"><a th:href="@{'/goodsByCategory/' + ${c.id}}" th:text="${c.name}"></a></li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="album py-5 bg-light col-sm-12">
        <div class="container">
            <div class="row">
                <input type="hidden" name="id" th:value="${category!=null?category.id:''}">
                <div class="card ml-5 mt-3" style="width: 18rem;" th:each="goods : ${goodsByCategories}">
                    <img th:src="${goods.urlOfPicture}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${goods.name}"></h5>
                        <p class="card-text" th:text="${goods.price} + 'KZT'"></p>
                        <a th:href="@{'/details/' + ${goods.id}}" class="btn btn-primary">More details...</a><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <nav aria-label="Page navigation example">
        <ul class="pagination" th:if="${goodsPage.totalPages>0}">
            <li class="page-item disabled">
                <a class="page-link" href="JavaScript:void(0)" tabindex="-1" aria-disabled="true">Pages</a>
            </li>
            <li class="page-item" th:each="pageNumber : ${numbers}" th:classappend="${pageNumber==goodsPage.number} ? 'active'">
                <a class="page-link" th:href="@{'/?page='+${pageNumber}}" th:text="${pageNumber + 1}"></a></li>
        </ul>
    </nav>


</div>
</html>