<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/main.html">

    <div layout:fragment="site_content">
        <div class="row mt-5">
            <div class="col-6 offset-3">
                <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${param.success!=null}">
                    <span>Your profile edited successfully!</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.error!=null}">
                    <span>Error... Didn't edit!</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/updateInfoAboutUser'}" method="post">
                    <input type="hidden" name="id" th:value="${currentUser!=null?currentUser.id:''}">
                <div class="form-group">
                    <label>Fullname</label>
                    <input type="text" class="form-control" name="fullName" th:value="${currentUser!=null?currentUser.fullName:''}">
                </div>
                <div class="form-group">
                    <label>City</label>
                    <select class="form-control" name="city_id">
                        <option th:each="c : ${cities}" th:text="${c.name}" th:value="${c.id}" th:selected="${currentUser.city.id==c.id}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" name="address" th:value="${currentUser!=null?currentUser.address:''}">
                </div>
                    <div class="form-group">
                        <button class="btn btn-success">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</html>